.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

nohup.out

server/bin/
server/cmake-build-debug

# the sample data; which is too large
data/sample/

# local file for convient with different algorithem 
data/preProcess/
data/attack/
data/assess/
